<%= simple_form_for([:admin, @room]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :code %>
      <%= f.association :building %>
    </div>

    <div class="form-actions">
      <%= f.button :magic_submit, cancel: admin_rooms_path %>
    </div>
<% end %>
