<%= simple_form_for([:admin, @teacher]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
    </div>

    <!-- I was unable to fix an "is invalid" error on create. It works fine on update. -->
    <h3>Pro přihlášení lektora na předměty nejdříve lektora vytvořte a následně editujte.</h3>

    <div class="form-actions">
      <%= f.button :magic_submit, cancel: admin_teachers_path %>
    </div>
<% end %>


