<ol class="breadcrumb bg-transparent">
  <li class="breadcrumb-item"><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Správa lektorů', admin_teachers_path %></li>
  <li class="breadcrumb-item active"><%= @teacher.first_name %> <%= @teacher.last_name %></li>
</ol>

<div class="jumbotron">
  <h1><%= @teacher.first_name %> <%= @teacher.last_name %></h1>
  <p><%= @teacher.email %></p>
</div>

<h2>Předměty:</h2>
    <ul>
      <% @teacher.courses.each do |course| %>
        <li>
          <%= course.title %>
        </li>
      <% end %>
    </ul>
