<h1>Students</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Study Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.study_type %></td>
        <td>
          <%= link_to student, class: 'btn btn-primary' do %>
              <%= fa_icon 'info-circle', text: 'Show' %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', student, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_student_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus', text: 'New Student' %>
<% end %>
