<%= simple_form_for([:admin, @student]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :study_type %>
    </div>

    <!-- I was unable to fix an "is invalid" error on create. It works fine on update. -->
    <h3>Pro přihlášení studenta na předměty nejdříve studenta vytvořte a následně editujte.</h3>


    <div class="form-actions">
      <%= f.button :magic_submit, cancel: admin_students_path %>
    </div>
<% end %>
