<main>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Admin Dashboard</h1>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>Budovy</h2>
        <p><%= link_to 'Spravuj', buildings_path, class: 'btn btn-primary' %></p>
      </div>
      <div class="col-md-4">
        <h2>Předměty</h2>
        <p><%= link_to 'Spravuj', courses_path, class: 'btn btn-primary' %></p>
      </div>
      <div class="col-md-4">
        <h2>Lekce</h2>
        <p><%= link_to 'Spravuj', lessons_path, class: 'btn btn-primary' %></p>
      </div>
      <div class="col-md-4">
        <h2>Učitelé</h2>
        <p><%= link_to 'Spravuj', teachers_path, class: 'btn btn-primary' %></p>
      </div>
      <div class="col-md-4">
        <h2>Studenti</h2>
        <p><%= link_to 'Spravuj', students_path, class: 'btn btn-primary' %></p>
      </div>
    </div>

    <hr>

  </div>

</main>
