<h1>Lessons</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Course</th>
    <th>Teacher</th>
    <th>Room</th>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.course.title %></td>
        <td><%= lesson.teacher.last_name %></td>
        <td><%= lesson.room.title %></td>
        <td><%= lesson.start_at %></td>
        <td><%= lesson.end_at %></td>
        <td><%= lesson.duration %></td>
        <td>
          <%= link_to lesson, class: 'btn btn-primary' do %>
              <%= fa_icon 'info-circle', text: 'Show' %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', lesson, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_lesson_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus', text: 'New Lesson' %>
<% end %>
