<ol class="breadcrumb bg-transparent">
  <li class="breadcrumb-item"><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li class="breadcrumb-item active">Správa lekcí</li>
</ol>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Správa lekcí</h1>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Předmět</th>
    <th>Lektor</th>
    <th>Místnost</th>
    <th>Začátek</th>
    <th>Konec</th>
    <th>Délka (min)</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.course.title %></td>
        <td><%= lesson.teacher.last_name unless lesson.teacher.nil? %></td>
        <td><%= lesson.room.title unless lesson.room.nil? %></td>
        <td><%= lesson.start_at %></td>
        <td><%= lesson.end_at %></td>
        <td><%= lesson.duration %></td>
        <td>
          <%= link_to admin_lesson_path(lesson), class: 'btn btn-primary' do %>
              <%= fa_icon 'info-circle', text: 'Zobraz detail' %>
          <% end %>
        </td>
        <td><%= link_to 'Uprav', edit_admin_lesson_path(lesson), class: 'btn btn-info' %></td>
        <td><%= link_to 'Smaž', admin_lesson_path(lesson), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_admin_lesson_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus', text: 'Nová lekce' %>
<% end %>
