<ol class="breadcrumb bg-transparent">
  <li class="breadcrumb-item"><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Správa lekcí', admin_lessons_path %></li>
  <li class="breadcrumb-item active">Lekce</li>
</ol>

<div class="jumbotron">
  <h1><%= @lesson.course.title %></h1>
  <p><%= @lesson.start_at %> <%= @lesson.end_at %></p>
</div>

<h2>Lektor:</h2>
<% if @lesson.teacher.nil? %>
    <h2>Lekce nemá přiřazeného vyučujícího.</h2>
<% else %>
    <p><%= @lesson.teacher.first_name %> <%= @lesson.teacher.last_name %></p>
<% end %>

<h2>Studenti:</h2>
<% if @lesson.course.students.empty? %>
    <h2>Na lekci nejsou přihlášení žádní studenti.</h2>
<% else %>
    <ul>
      <% @lesson.course.students.each do |st| %>
          <li>
            <%= st.first_name %> <%= st.last_name %>
          </li>
      <% end %>
    </ul>

<% end %>


