<h1>Buildings</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Code</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @buildings.each do |building| %>
      <tr>
        <td><%= building.title %></td>
        <td><%= building.code %></td>
        <td>
          <%= link_to building, class: 'btn btn-default' do %>
              <%= fa_icon 'info-circle', text: 'Show' %>
          <% end %>
        </td>
        <!--<td><%= link_to 'Edit', edit_building_path(building), class: 'btn btn-info' %></td>-->
        <!--<td><%= link_to 'Destroy', building, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?' } %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_building_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus', text: 'New Building' %>
<% end %>
