<main>

  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item active">Seznam místností</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Seznam místností v budovách</h1>
      <p>Rezervujte si svou místnost ještě dnes!</p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <% @buildings.each do |building| %>

          <h2><%= building.title %></h2>

          <div class="col-sm-6 col-md-3">
            <% building.rooms.each do |room| %>
            <h2><%= room.title %></h2>
            <p><%= room.code %></p>
            <p><%= link_to room, class: 'btn btn-primary' do %>
                  <%= fa_icon 'info-circle', text: 'Show' %>
              <% end %></p>
            <% end %>
          </div>

      <% end %>

    </div>

  </div>

</main>




