<main>

  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item active">Seznam místností</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Seznam místností v budovách</h1>
      <p>Rezervujte si svou místnost ještě dnes!</p>
    </div>
  </div>

  <div class="container">


    <% @buildings.each do |building| %>

        <h2><%= building.title %></h2>
        <!--<div class="row">-->
        <!--<div class="col-sm-6 col-md-3">-->

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Název</th>
            <th>Kód</th>
            <th colspan="1"></th>
          </tr>
          </thead>
          <tbody>
          <% building.rooms.each do |room| %>
              <tr>
                <td><%= room.title %></td>
                <td><%= room.code %></td>
                <td class="text-sm-right"><%= link_to room, class: 'btn btn-primary' do %>
                      <%= fa_icon 'info-circle', text: 'Zobraz detail' %>
                  <% end %>
                </td>
              </tr>

          <% end %>
          </tbody>
        </table>


        <!--</div>-->
        <!--</div>-->
    <% end %>


  </div>

</main>




