<h1>Courses</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Code</th>
    <th>Study Type</th>
    <th>Language</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.code %></td>
        <td><%= course.study_type %></td>
        <td><%= course.language %></td>
        <td>
          <%= link_to course, class: 'btn btn-primary' do %>
              <%= fa_icon 'info-circle', text: 'Show' %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_course_path(course), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', course, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to new_course_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'plus', text: 'New Course' %>
<% end %>
